.category-item {
  .card-img-top {
    height: 185px;
    background-size: cover;
  }
}

section.choose-category {
  &.bg-area-curso {
    background-color: #f7f7f7;
  }

  h3.title {
    color: $theme-color-1;
  }

  .category-item {
    &.item {
      .featured-item {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &:before,
        &:after {
          content: '';
          border: 5px solid #BF0B00;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          border-radius: 0.25rem;
        }

        &:before {
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1);
          opacity: 1;
          -webkit-animation: spWaveBe 1s infinite linear;
          animation: spWaveBe 1s infinite linear;
        }

        &:after {
          -webkit-transform: scale(0, 0);
          -ms-transform: scale(0, 0);
          transform: scale(0, 0);
          opacity: 0;
          -webkit-animation: spWaveAf 1s infinite linear;
          animation: spWaveAf 1s infinite linear;
        }
      }

      .wrap {
        width: 100%;
        height: 188px;
        position: absolute;
        top: -8px;
        left: 8px;
        overflow: hidden;
        color: #e9ea7b;

        .ribbon {
          width: 200px;
          height: 40px;
          line-height: 40px;
          position: absolute;
          font-weight: bold;
          top: 30px;
          right: -50px;
          z-index: 2;
          overflow: hidden;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          outline: 1px dotted #E5E82C;
          outline-offset: -4px;
          box-shadow: -3px 5px 6px -5px rgb(0 0 0 / 50%);
          text-align: center;
          background: #57DD43 radial-gradient(circle farthest-side, #FF1C1A, #BF0B00);
          text-shadow: 2px 1px 0px rgb(0 0 0 / 20%);
          @include font-size(16px);
        }

        &:before {
          width: 40px;
          height: 8px;
          right: 100px;
          background: #BF0B00;
          border-radius: 8px 8px 0 0;
        }

        &:after {
          width: 8px;
          height: 40px;
          right: 0;
          top: 100px;
          background: #BF0B00;
          border-radius: 0 8px 8px 0;
        }

        &:after,
        &:before {
          content: "";
          position: absolute;
        }
      }

      .url-curso {
        display: block;
        position: relative;

        .text-discount {
          color: #e9ea7b;
          font-weight: bold;
          text-shadow: 2px 1px 0px rgb(0 0 0 / 20%);
          background: #BF0B00 radial-gradient(circle farthest-side, #FF1C1A, #BF0B00);

          .text-muted {
            color: #ccc !important;
          }

          .new-price {
            @include font-size(16px);
          }
        }
      }
    }
  }

  .choose-category__wrapper {
    &--carousel {
      position: relative;

      .owl-carousel {
        max-height: 300px;
        overflow: hidden;

        .owl-stage-outer {
          .owl-stage {
            display: flex;
          }
        }
      }

      .owl-theme {
        .custom-nav {
          .owl-prev, .owl-next {
            height: 100%;
          }
        }
      }

      > div {
        border: none;
        margin-bottom: 0 !important;

        a {
          color: #20183d !important;
          min-height: 210px;

          .card-img-top {
            position: relative;
            height: 110px;
            border-top-left-radius: .5rem !important;
            border-top-right-radius: .5rem !important;

            .categories__course-count {
              background-color: #ff9e00 !important;
              padding: .25rem;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              @include font-size(16px);
            }
          }
        }
      }

      .card {
        font-weight: 400;
        border: 1px solid #eaeaea;
        @include border-radius(.5rem);

        &:hover {
          transform: none !important;
        }

        .card-body {
          .card-text {
            font-size: .9rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  h4.course-featured-title {
    background-color: #ff9e00;
  }

  .course-featured__wrapper {
    &--carousel {
      position: relative;

      .owl-carousel {
        max-height: 300px;
        overflow: hidden;

        .owl-stage-outer {
          .owl-stage {
            display: flex;
          }
        }
      }

      .owl-theme {
        .custom-nav {
          .owl-prev, .owl-next {
            height: 100%;
          }
        }
      }

      > div {
        border: none;
        margin-bottom: 0 !important;

        a {
          color: #20183d !important;
          min-height: 140px;
          padding: 10px;

          .container {
            display: flex;
            height: 100%;

            > .row {
              height: 100%;
            }

            .imagem-curso {
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              height: 100%;
              @include border-radius(.5rem);
            }
          }
        }
      }

      .card {
        font-weight: 400;
        border: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        @include border-radius(.5rem);

        &:hover {
          transform: none !important;
        }

        .card-body-description {
          .card-text {
            font-size: .9rem;
            font-weight: 400;
          }
        }

        .card-body-button-group {
          > * {
            vertical-align: middle;
          }

          p {
            @include font-size(20px);
          }
        }
      }
    }
  }
}

.choose-category__wrapper--carousel,
.course-featured__wrapper--carousel {
  .owl-theme {
    .owl-nav {
      margin-top: 0;
    }

    .custom-nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .owl-prev, .owl-next {
        &:hover,
        &:focus {
          color: #ffffff !important;
          text-decoration: none;
          outline: 0;
          filter: alpha(opacity=90);
          opacity: .9;
        }

        position: absolute;
        border: none;
        z-index: 100;
        font-size: 20px;
        color: #fff;
        padding: 0 20px;
        margin: 0;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        background-color: rgba(0, 0, 0, 0);
        filter: alpha(opacity=50);
        opacity: .5;

        i {
          font-size: 2.5rem;
          color: #cecece;
          width: 40px;
          height: 40px;
          background: #000000;
          border-radius: 50%;
        }
      }

      .owl-prev {
        left: 0;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
      }

      .owl-next {
        right: 0;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  section.choose-category {
    .course-featured__wrapper--carousel {
      .owl-carousel {
        max-height: 500px;
      }

      > div {
        a {
          .container {
            display: block;

            .imagem-curso {
              height: 150px;
            }
          }
        }
      }
    }
  }
}


@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    opacity: 1;
  }
}

@keyframes spWaveAf {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    opacity: 1;
  }
}

@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.125, 1.125);
    transform: scale(1.125, 1.125);
    opacity: 0;
  }
}

@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.125, 1.125);
    transform: scale(1.125, 1.125);
    opacity: 0;
  }
}
