/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

public/images/banners/original/

_ide_helper_models.php

_ide_helper.php

.phpstorm.meta.php

public/images/favicon/bkp/

public/images/favicon/4859509bd49fbb775637f148fb00eb1b.ico.zip

public/js/app.js.LICENSE.txt

public/js/checkout.js.LICENSE.txt

public/js/home.js.LICENSE.txt

public/images/cursos/original/

public/js/admin.js.LICENSE.txt
