$fa-font-path:                          "/fonts/vendor/@fortawesome/fontawesome-free" !default;

$theme-color-1:                         #535762;
$theme-color-2:                         #ff9c00;
$theme-color-3:                         #fa7e05;
$theme-color-4:                         #666666;

$whatsapp-light-green:                  #25d366;
$whatsapp-dark-green:                   #075e54;

$font-family-montserrat:                'Montserrat', sans-serif;
$font-family-raleway:                   'Raleway', sans-serif;
$font-family-roboto:                    'Roboto', sans-serif;
$font-family-mulish:                    'Mulish', sans-serif;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: $font-family-montserrat;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$gray: #4b4b4d;
$teal: #4dc0b5;
$cyan: #6cb2eb;
