table.table-bordered.dataTable tbody tr td {
  vertical-align: middle;
}

.invoice {
  border: 0;
}
.invoice .badge {
  padding: 0.75rem 1.25rem !important;
}
.invoice .badge.badge-bank-slip {
  background-color: #7ad588;
  color: #003f00;
  text-shadow: 1px 1px 1px #97f8a5;
}
.invoice .badge.badge-credit-card {
  background-color: #FCB70A;
  text-shadow: 1px 1px 1px #fff4da;
  color: #50350c;
}
.invoice table.table > thead > tr > th,
.invoice table.table > tbody > tr > td {
  vertical-align: middle;
}

aside.main-sidebar .sidebar ul.nav.nav-sidebar > .nav-item.menu-is-opening {
  background-color: #3a3e42;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.2rem;
}
aside.main-sidebar .sidebar ul.nav.nav-sidebar > .nav-item.menu-is-opening > a.nav-link {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13), 0 1px 3px rgba(0, 0, 0, 0.2);
}
aside.main-sidebar .sidebar ul.nav.nav-sidebar > .nav-item.menu-is-opening > ul.nav-treeview > .nav-item .nav-link {
  border-radius: 0;
  margin-bottom: 0;
}
aside.main-sidebar .sidebar ul.nav.nav-sidebar > .nav-item.menu-is-opening > ul.nav-treeview > .nav-item .nav-link.active {
  color: #FFFFFF !important;
}
aside.main-sidebar .sidebar ul.nav.nav-sidebar > .nav-item.menu-is-opening > ul.nav-treeview > .nav-item:last-child > .nav-link {
  border-radius: 0 0 0.25rem 0.25rem;
}
aside.main-sidebar .sidebar ul.nav.nav-sidebar > .nav-item a.nav-link.active {
  background-color: #008052;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }
}
