$theme-color-1:                         #2c4939;
$theme-color-2:                         #008052;
$theme-color-3:                         #f8bf2c;
$theme-color-4:                         #666666;

$white:                                 #FFFFFF;
$black:                                 #000000;
